<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']"><img height="50px" src="http://expensemanager.cvinfotech.com/images/slider/icons.png" alt="" srcset=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a [routerLink]="['/']" class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li>
       
        
        <li class="nav-item" *ngIf="!userservice.loggedIn()">
            <a class="nav-link"  routerLink="login" >Log In</a>
        </li>
        <li class="nav-item" *ngIf="!userservice.loggedIn()">
            <a class="nav-link" routerLink="signup">Sign Up</a>
        </li>
        
        <li class="nav-item" *ngIf="userservice.loggedIn()">
            <a class="nav-link"  routerLink="/" (click)="logout()">Logout</a>
        </li>
       
           
        <!-- <li class="nav-item" *ngIf="userservice.loggedIn()">
            <a class="nav-link"  routerLink="/friend-list">Friends</a>
        </li> -->

        <li class="nav-item" *ngIf="userservice.loggedIn()">
          <a class="nav-link"  routerLink="/expense">Manage Expense</a>
        </li>
      
        <li class="nav-item" *ngIf="iscurrentuser">
          <p>Welcome {{currentuser}}</p>
        </li>

      </ul>
 
    </div>
  </nav>
