<div class="container" style="padding-top: 30px">
    <div class="jumbotron">

        <div class="row">
                <div class="col-xs-10">
                  <app-expense-edit></app-expense-edit>
                  <hr>
                  <ul class="list-group">
                    <a
                      class="list-group-item"
                      style="cursor: pointer"
                      *ngFor="let data of expensedata; let i = index"
                      (click)="onEditexpense(i)"
                    >
                     <strong>{{ data.expensename }}</strong> ({{ data.amount }} Rs.) <strong>Totalfriends: </strong>{{data.nooffriends}}
                    </a>
                  </ul>
                </div>
              </div>
            </div>

</div>

  